
name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm install --force
      - name: Build Web Project
        run: npm run build --if-present
      - name: Build Android APK
        run: |
          npx cap add android || true
          npx cap copy
          cd android
          chmod +x gradlew
          ./gradlew assembleDebug
      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: Generated-APK
          path: android/app/build/outputs/apk/debug/app-debug.apk
